@use "../variables/colors";
@use "../variables/spacings";

.ai-summarizer-app {
  position: fixed;
  top: spacings.$medium;
  right: 0;

  width: 400px;
  height: 540px;

  background: rgba(5, 23, 45, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(5, 23, 45, 0.3);
  border-right: none;

  padding: spacings.$medium;
  padding-right: calc(spacings.$medium * 2);
  border-radius: spacings.$rad-small 0 0 spacings.$rad-small;

  z-index: spacings.$primacy-max;

  &__close {
    position: absolute;
    top: 0;
    left: -2.7rem;
    z-index: spacings.$primacy-secondary;
  }

  &__content {
    height: 100%;
  }
}
