@use "../variables/colors";
@use "../variables/spacings";

.ai-summarizer-app {
  position: absolute;
  top: spacings.$medium;
  right: 0;

  width: 21rem;
  height: 21rem;

  background-color: colors.$secondary;
  padding: spacings.$medium;
  padding-right: calc(spacings.$medium * 2);
  border-radius: spacings.$rad-small 0 0 spacings.$rad-small;

  z-index: spacings.$primacy-max;

  &__close {
    position: absolute;
    top: 0;
    left: -2.7rem;
    z-index: spacings.$primacy-secondary;
  }

  &__content {
    height: 100%;
  }
}
