@use "../../styles/variables/colors";
@use "../../styles/variables/spacings";

.ai-button {
  display: flex;
  justify-content: center;
  padding: 0.65rem 1.6rem;
  border-radius: spacings.$rad-small;
  border: 1px solid colors.$contrast--full;
  height: fit-content;
  width: fit-content;

  font-weight: bold;
  letter-spacing: 0.6px;
  background-color: colors.$contrast;
  color: colors.$primary;

  transition: 0.3s ease;

  &:hover {
    background-color: transparent;
    color: colors.$contrast;
    border-color: colors.$contrast;
  }

  &:active {
    transform: scale(0.9);
  }

  &--full-width {
    width: 100%;
  }

  &--icon-only {
    align-items: center;

    width: spacings.$big;
    height: spacings.$big;
    padding: 0;
    line-height: 0;
  }

  &:disabled {
    opacity: 0.7;
  }

  &--text-only {
    padding-left: 0;
    padding-right: 0;
    background: none;
    border: none;
  }
}
