@use "../../styles/variables/colors";
@use "../../styles/variables/spacings";

.ai-button {
  display: flex;
  justify-content: center;
  padding: 0.8rem 1.8rem;
  border-radius: spacings.$rad-small;
  border: 1px solid transparent;
  width: fit-content;

  font-weight: bold;
  letter-spacing: 0.6px;
  background-color: colors.$typography;
  color: colors.$primary;

  transition: 0.3s ease;

  &:hover {
    background-color: transparent;
    color: colors.$typography;
    border-color: colors.$typography;
  }

  &:active {
    transform: scale(0.9);
  }
}
