@use "../variables/spacings";
@use "../variables/colors";

.ai-textarea {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: spacings.$rad-small;
  max-height: 84%;
  background: transparent;
  color: colors.$typography;
  line-height: 1.5;
}
