@use "../variables/colors";
@use "../variables/spacings";

.ai-form-field {
  &--full-width {
    width: 100%;
  }

  &--fit-content {
    width: fit-content;
  }

  &__input {
    padding: 0.8rem 0.8rem;
    background-color: colors.$secondary;
    border: 1px solid rgba(11, 15, 19, 0.229);
    border-radius: spacings.$rad-small;
    width: 100%;
    transition: 0.2s;
    color: colors.$primary;

    &::placeholder {
      color: colors.$primary--lighter;
    }

    &:focus {
      border-color: colors.$typography;
    }

    &--error {
      border-color: colors.$error;
    }

    &--error:focus {
      border-color: colors.$error;
    }

    &.ai-form-field--no-style {
      padding: 0;
      background: transparent;
      border: none;
      border-radius: 0;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: spacings.$small;

    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-weight: bold;
    color: colors.$typography--lighter;

    & > * {
      font-size: 1rem;
      text-transform: none;
      letter-spacing: normal;
      font-weight: normal;

      &:not(input) {
        color: colors.$typography;
      }
    }

    &--radio {
      line-height: 0;
      flex-direction: row-reverse;
      align-items: center;
      gap: spacings.$small;
    }
  }
}
