@use "../variables/spacings";

.ai-stack-options {
  &__form {
    display: flex;
    align-items: flex-end;
    gap: spacings.$small;
  }

  &__tags {
    margin-top: spacings.$medium;
    display: flex;
    flex-wrap: wrap;
    gap: spacings.$small;
    height: 4rem;
    max-height: 4rem;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: inset 0 -8px 9px -8px rgba(0, 0, 0, 0.2);

    &--empty {
      font-size: 0.8rem;
    }
  }
}
