@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  font-size: 16px;
}

p {
  margin: 0;
}

body {
  margin: 0;
  font-family: manrope, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(2, 6, 11);
  background-color: rgb(249, 252, 255);
}

button {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

button,
input,
textarea {
  font: inherit;
  outline: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 3.5rem;
  margin: 1rem 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=radio] {
  width: fit-content;
  margin: 0;
  padding: 0;
}

dialog {
  border: none;
  margin: 0;
  padding: 0;
}

.root {
  width: 400px;
  height: 560px;
}

.ai-textarea {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.3rem;
  max-height: 85%;
  background: transparent;
  color: rgb(2, 6, 11);
  line-height: 1.5;
}

.ai-summarizer-app {
  width: 400px;
  height: 560px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%234e8397' fill-opacity='0.7' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  border: 2px solid black;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 999999;
}
.ai-summarizer-app__close {
  position: absolute;
  top: 0;
  left: -2.7rem;
  z-index: 999998;
}

.ai-button {
  display: flex;
  justify-content: center;
  padding: 0.65rem 1.6rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(5, 23, 45);
  height: fit-content;
  width: fit-content;
  font-weight: bold;
  letter-spacing: 0.6px;
  background-color: rgba(5, 23, 45, 0.7);
  color: rgb(249, 252, 255);
  transition: 0.3s ease;
}
.ai-button:hover {
  background-color: transparent;
  color: rgba(5, 23, 45, 0.7);
  border-color: rgba(5, 23, 45, 0.7);
}
.ai-button:active {
  transform: scale(0.9);
}
.ai-button--full-width {
  width: 100%;
}
.ai-button--icon-only {
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  line-height: 0;
}
.ai-button:disabled {
  opacity: 0.7;
}
.ai-button--text-only {
  padding-left: 0;
  padding-right: 0;
  background: none;
  border: none;
}

.ai-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
.ai-spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.ai-form-field--full-width {
  width: 100%;
}
.ai-form-field--fit-content {
  width: fit-content;
}
.ai-form-field__input {
  padding: 0.65rem 0.8rem;
  background-color: rgba(5, 23, 45, 0.3);
  border: 1px solid rgba(11, 15, 19, 0.229);
  border-radius: 0.3rem;
  width: 100%;
  transition: 0.2s;
  color: rgb(249, 252, 255);
}
.ai-form-field__input::placeholder {
  color: rgba(249, 252, 255, 0.4);
}
.ai-form-field__input:focus {
  border-color: rgb(2, 6, 11);
}
.ai-form-field__input--error {
  border-color: rgb(164, 66, 66);
}
.ai-form-field__input--error:focus {
  border-color: rgb(164, 66, 66);
}
.ai-form-field__input.ai-form-field--no-style {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
}
.ai-form-field__label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: bold;
  color: rgb(34, 46, 57);
}
.ai-form-field__label > * {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
}
.ai-form-field__label > *:not(input) {
  color: rgb(2, 6, 11);
}
.ai-form-field__label--radio {
  line-height: 0;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5rem;
}

.ai-query-options {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 0.8rem;
  background-color: rgba(5, 23, 45, 0.3);
  border: 1px solid rgba(11, 15, 19, 0.229);
  border-radius: 0.3rem;
  width: 100%;
  transition: 0.2s;
}
.ai-query-options__label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in-out;
  background-color: rgba(249, 252, 255, 0.4);
  padding: 0.6rem 0.6rem;
  background-color: rgba(5, 23, 45, 0.3);
  border: 1px solid rgba(11, 15, 19, 0.229);
  border-radius: 0.3rem;
  opacity: 0.7;
}
.ai-query-options__radio-button {
  display: none;
}
.ai-query-options__radio-button:checked + .ai-query-options__label {
  background-color: rgba(5, 23, 45, 0.6);
}
.ai-query-options__max-length {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}
.ai-query-options__max-length:focus {
  border-color: rgb(2, 6, 11);
}
.ai-query-options__radio-area {
  display: flex;
  gap: 1rem;
}
.ai-query-options__radio-area--max-length {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.ai-query-format__form {
  width: 50%;
}
.ai-query-format__label {
  width: 100%;
  cursor: pointer;
  background-color: rgba(5, 23, 45, 0.3);
  border: 1px solid rgba(11, 15, 19, 0.229);
  display: block;
  color: rgba(249, 252, 255, 0.4);
  border-radius: 1rem;
  height: fit-content;
  line-height: 0;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.ai-query-format__radio-area {
  display: flex;
  gap: 1rem;
}
.ai-query-format__radio-area--max-length {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}
.ai-query-format__radio-button {
  display: none;
}
.ai-query-format__radio-button:checked + .ai-query-format__label {
  background-color: rgba(5, 23, 45, 0.6);
  color: rgb(249, 252, 255);
}

.ai-stack-options__form {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}
.ai-stack-options__tags {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 4rem;
  max-height: 4rem;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: inset 0 -8px 9px -8px rgba(0, 0, 0, 0.2);
}
.ai-stack-options__tags--empty {
  font-size: 0.8rem;
}

.ai-tag {
  border: 1px solid rgb(2, 6, 11);
  background-color: rgb(249, 252, 255);
  width: fit-content;
  height: fit-content;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ai-main-container {
  height: 100%;
}
.ai-main-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(2, 6, 11);
  color: rgb(249, 252, 255);
  padding: 0.5rem;
}
.ai-main-container__add-tokens {
  color: rgb(249, 252, 255);
}
.ai-main-container__info {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  padding-right: 2px;
  font-size: 0.7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  border: 1px solid white;
}

.ai-instructions {
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: rgba(5, 23, 45, 0.3);
  margin: 0;
  margin-bottom: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ai-instructions li {
  padding: 0;
  margin: 0;
}

.ai-request-start__options {
  width: 100%;
  height: 350px;
  border-radius: 0 0 13% 13%;
  background-image: linear-gradient(to top, rgb(78, 131, 151), #468ea0, #3e99a6, #37a3aa, #34aeac, #37b5ac, #3dbcaa, #46c3a8, #4ec8a6, #58cca3, #62d1a0, #6cd59c);
  padding: 1.5rem;
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ai-request-start__footer {
  width: 100%;
  bottom: 0;
  padding: 0.5rem 3rem 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ai-request-start__token-cost {
  font-size: 0.7rem;
}
.ai-request-start__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ai-request-complete {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 93%;
}

.ai-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.ai-api-key {
  padding: 1rem;
}
.ai-api-key__form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.ai-api-key__intro {
  margin-bottom: 1rem;
}
.ai-api-key__outro {
  margin-top: 1rem;
}
.ai-api-key__cancel {
  margin-top: 1rem;
  text-decoration: underline;
}

.button--contrast {
  color: rgb(2, 6, 11);
}

/*# sourceMappingURL=index.css.map */
