@use "./variables/colors";
@use "./variables/spacings";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: manrope, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Open Sans", "Helvetica Neue", sans-serif;
  color: colors.$typography;
  background-color: colors.$primary;
}

button {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

button,
input,
textarea {
  font: inherit;
  outline: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 3.5rem;
  margin: spacings.$medium 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="radio"] {
  width: fit-content;
  margin: 0;
  padding: 0;
}

dialog {
  border: none;
  margin: 0;
  padding: 0;
}
