$primary: rgb(249, 252, 255);

$secondary: rgba(5, 23, 45, 0.3);

$contrast--full: rgba(5, 23, 45, 1);
$contrast: rgba(5, 23, 45, 0.7);

$typography: rgb(2, 6, 11);
$typography--lighter: rgb(34, 46, 57);

$error: rgb(164, 66, 66);
$error--lighter: rgb(199, 188, 188);

$success: rgb(8, 168, 48);
